.opa {
	opacity: 1;
	position: absolute;
	object-fit: cover;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
}

.jumbotron {
    background-position: center;
    height: 60vh;
    width:100%;
    background-color: black;
    color:white;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

#intro {

    margin: 0;
    padding: 60px 40px;
    width: 100%;
    background-color: white;
    color:black;
    height: 30vh;
    clear: both;
}
